<div *ngIf="startScreen" class="dialogue">
    <h1>BIENVENU(E) SUR CE QUIZ !</h1>
    <h2>Nous allons mettre tes connaissances sur les MST à rudes épreuves.</h2>
    <button (click)="startScreen = false">Jouer</button>
</div>

<div *ngIf="!win&&!startScreen" class="dialogue">
<h1>{{ question }}</h1>
<button (click)="checkAnswer(0)">{{firstAnswer}}</button>
<button (click)="checkAnswer(1)">{{secondAnswer}}</button>
<p class="score">Vous avez : {{points}} points</p>
</div>

<div *ngIf="win&&!startScreen" class="dialogue">
  <h1>Le jeu est terminé</h1>
  <p class="finalP1">Vous avez eu {{points}} sur 100.</p>
  <img id="check_img" src="../../assets/check.png">
  <p *ngIf="points<33" class="finalP2">Vous encore encore plein de choses à apprendre !</p>
  <p *ngIf="points>=33&&points<66" class="finalP2"> Continuez vos efforts !</p>
  <p *ngIf="points>=66&&points<100" class="finalP2"> Vous êtes presque un expert !</p>
  <p *ngIf="points==100" class="finalP2">Vous connaissez tout sur tout !</p>
</div>
