#map_div{
  width: 100%;
  height: 100%;
  transform: translateX(-30%);
}

#map_div > img{
  position: fixed;
  width: 377px;
  height: 348px;
  margin: auto;
}

#img1{
  scale:0.9 ;
  top:310px;
  right: 280px;
}
#img2{
  top:300px;
  right: 15px;
}

#img3{
  scale: 1.2;
  top:30px;
  right: 105px;
}

img:hover{
  filter:brightness(120%);
}
