<head>
  <link rel="stylesheet" href="home.component.css">
</head>

<div id="home_div">
  <img id="info_banner" src="/assets/nuitinfobanner.png">
  <h2>La nuit de l'info</h2>
  <p>Aujourd’hui, grâce aux avancées des traitements, les
    personnes atteintes du VIH sous trithérapie ne
    développent plus le SIDA, ont une durée de vie et une
    qualité de vie normale. Elles n’ont plus de risque de
    contaminer leur(s) partenaire(s) tant qu’ils et elles
    suivent leur traitement. Il existe également un
    traitement préventif du VIH (la PrEP) et un traitement
    d’urgence (le TPE) disponible aux services d’urgences
    en cas de prise de risque involontaire. </p>
  <p> Pourtant, nous faisons toujours face à une <b>population
    générale qui manque cruellement d’information et d’
    éducation à la sexualité</b>, et particulièrement chez les
    jeunes adultes débutant leur vie sexuelle. Tabous,
    non-dits, manque de cours d’éducation sexuelle en
    milieu scolaire et préjugés négatifs, sont autant de
    facteurs qui peuvent empêcher l’information de circuler
    et les personnes de s’épanouir.</p>
  <div style="height: 50px;"></div>
  <h2>Journée mondiale contre le sida</h2>
  <table style="width: 100%;">
    <tr>
    <td style="width: 50%">
      <p><b>Tous les ans, la date du 1er décembre marque la Journée mondiale de lutte contre le sida. Cet événement est le cadre de manifestations de soutien aux personnes vivant avec et touchées par le virus. Cette journée symbolique est distincte du Sidaction Medias, week-end de collecte de l’association Sidaction, qui a lieu au printemps.</b></p>
      <p>Alors que 23% des découvertes de séropositivité du VIH concernent les personnes de plus de 50 ans, Sidaction publie un sondage IFOP au sujet de leur vie sexuelle. Notre association alerte sur les risques d’exposition au VIH et le manque de recours au dépistage ainsi qu’aux moyens de prévention existants.</p>
      <p>Si 89% des 50-79 ans se considèrent bien informés sur le VIH/sida, une partie d’entre eux se montre néanmoins téméraire à son égard. Certains chiffres sont particulièrement préoccupants. Parmi les célibataires sexuellement actifs, seule 1 personne sur 2 a utilisé un préservatif et seuls 13% d’entre eux ont réalisé un test de dépistage au cours des douze derniers mois. « Le dépistage est visiblement le parent pauvre de la santé des plus de 50 ans », explique Sandrine Fournier, directrice du Pôle Financements Recherche et Associations de Sidaction.</p>
      <p>Afin de sensibiliser les personnes de plus de 50 ans à la question du VIH/sida, Sidaction lance une campagne autour des grandes chansons populaires françaises, à laquelle participent Lio, Dave, Partenaire Particulier, Jean-Pierre Mader et Emile & Images… Les artistes et leurs paroliers ont accepté de réécrire et réenregistrer leurs grands classiques (Banana Split, Du côté de chez Swann, Partenaire Particulier, Macumba et Les démons de Minuit) en y intégrant un message de sensibilisation et de prévention. </p>
    </td>
      <td style="width: 10%"></td>
    <td style="width: 40%;">
      <div style="width: 100%; height:500px; background-image: url('/assets/sida.jpg'); object-fit: contain"></div>
    </td>
    </tr>
  </table>
  <div style="height: 40px;"></div>
  <iframe width="560" height="315" style="margin: auto;" src="https://www.youtube.com/embed/oBAGL6sZmSs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
